<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar>
  <span>List Popular Videos Game</span>
</mat-toolbar>

<body class="body"> 
  <h1 > Cette application doit afficher un classement de jeux vidéos populaire en
    2019 sous forme de liste avec pagination </h1>

  <div class="card-container">
      <mat-card *ngFor="let game of games | paginate: { itemsPerPage: games?.length/2,
                                                        currentPage: page,
                                                        totalItems: games?.length}" 
          [value]="game" class="card" (click)="getDetail(game.id)">
        <img mat-card-image src={{game.background_image}} alt={{game.name}}>
        <mat-card-content>
          <h1> {{game.name}} </h1>
          <p> {{game.released}} </p>
          <div class="genre-container">
            <p *ngFor="let genre of game.genres" [value]="genre">
              {{genre.name}},
            </p>
          </div>
          <p> {{game.rating}}</p>
        </mat-card-content>
      </mat-card>
  </div>

  <pagination-controls class="paginator"
                      (pageChange)="handlePageChange($event)"
                      responsive="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      maxSize="5"
                      directionLinks="true">
  </pagination-controls>

</body>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
